<h1>Dashboard</h1>
<br/>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
    <div class="jumbotron">
      <h2>Total Products</h2>
      <p><%= @product_count %></p>
    </div>
    </div>

    <div class="col-lg-6">
    <div class="jumbotron">
      <h2>Total Categories</h2>
      <p><%= @category_count %></p>
    </div>
    </div>
  </div>
</div>
